<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormLogin.Properties.Settings.ConnectionString" connectionString="Data Source=THUY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FormLogin.Properties.Settings.tempdbConnectionString"
            connectionString="Data Source=THUY;Initial Catalog=tempdb;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>